body {
  max-width: 1000px;
}
figure.image {
  margin: 1rem 0 0;
}
figure.image img {
  margin: 0 auto;
}
figure.image figcaption {
  padding: 4px 1rem;
  text-align: center;
  font-size: 12px;
  color: #616161;
  background-color: #f5f5f5;
}
.theme--dark figure.image figcaption {
  color: #bdbdbd;
  background-color: #424242;
}
figure.image-style-align-right {
  float: right;
}
figure.image-style-align-left {
  float: left;
}
img.is-imagemap {
  max-width: none;
}
figure.urantiapedia {
  display: table;
}
figure.urantiapedia.image-style-align-right {
  margin: 10px 0 10px 10px;
}
figure.urantiapedia.image-style-align-left {
  margin: 10px 10px 10px 0;
}
figure.urantiapedia.image-style-align-center {
  margin: 0 auto;
}
figure.urantiapedia figcaption {
  font-size: 14px;
  display: table-caption;
  caption-side: bottom;
}
figure.chapter-navigator table {
  /* border-bottom: 0.2em solid #c8ccd1;
  border-left: 1px solid #c8ccd1;
  border-right: 1px solid #c8ccd1;
  border-top: 1px solid #c8ccd1; */
  table-layout: fixed; 
  width: 100%;
}
figure.chapter-navigator table tbody tr td {
  padding: 0.4em 0.5em;
  border: none;
  width:33%;
}
figure.chapter-navigator table tbody tr td:nth-child(2) {
  text-align: center;
}
figure.chapter-navigator table tbody tr td:nth-child(3) {
  text-align: right;
}
pre.prismjs.language-wrap {
  word-wrap: break-word;
  white-space: normal;
}
blockquote.is-map {
  display: flex;
}
blockquote.is-map:before {
  content: "\F034D"
}
blockquote.is-map a {
  color: #fff;
  text-decoration: none;
}
blockquote.is-map img {
  width: 400px;
  padding-top: 16px
}
.responsive-embed {
  position: relative;
  padding-bottom: 56.2%;
  height: 0;
  margin: 10px 0;
  overflow: hidden;
}
.responsive-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.v-card.urantiapedia-card {
  width: 400px;
}
.v-card.urantiapedia-card.urantiapedia-book {
  width: 205px;
}
.v-card .v-responsive.urantiapedia-card {
  height: 200px;
  color: #FFFFFF !important;
  --v-theme-overlay-multiplier: 3;
  z-index: 0;
}
.v-card .v-responsive.urantiapedia-card.urantiapedia-book {
  height: 274px;
}
.v-card .urantiapedia-card-top-image {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.v-card .urantiapedia-card-title {
  display: block;
  flex: none;
  font-size: 1.25rem;
  font-weight: 500;
  hyphens: auto;
  letter-spacing: 0.0125em;
  min-width: 0;
  overflow-wrap: normal;
  overflow: hidden;
  padding: 0.5rem 1rem;
  text-overflow: ellipsis;
  text-transform: none;
  word-break: normal;
  word-wrap: break-word;
  line-height: 2rem;
}
.v-card .urantiapedia-card-title.urantiapedia-book {
  font-size: 1rem;
  line-height: 1.2rem;
}
.v-card .urantiapedia-card-subtitle {
  display: block;
  flex: none;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.0178571429em;
  opacity: var(--v-medium-emphasis-opacity);
  overflow: hidden;
  padding: 0 1rem;
  text-overflow: ellipsis;
  text-transform: none;
  line-height: 1.25rem;
}
.v-card .urantiapedia-card-subtitle.urantiapedia-book {
  font-size: 0.75rem;
  line-height: 1rem;
}
.v-card .urantiapedia-card-text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.0178571429em;
  padding: 1rem;
  text-transform: none;
}
.v-card .urantiapedia-card-actions {
  align-items: center;
  display: flex;
  flex: none;
  min-height: 52px;
  padding: 0.5rem;
}
.urantiapedia-book-front {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.urantiapedia-book-front svg g {
  line-height:1.25;
  text-align:center;
  text-anchor:middle;
}
/* Science books */
.urantiapedia-book-science svg g {
  fill:#301602;
}
.urantiapedia-book-science svg g rect:first-child {
  fill:#301602;
}
.urantiapedia-book-science svg g rect:nth-child(2) {
  fill:#F9F1D2;
}
/* Bible books */
.urantiapedia-book-bible svg g {
  fill:#fff;
}
.urantiapedia-book-bible svg g rect:first-child {
  fill:#e06464;
}
.urantiapedia-book-bible svg g rect:nth-child(2) {
  fill:#690404;
}
/* Bible apocrypha books */
.urantiapedia-book-apocrypha svg g {
  fill:#fff;
}
.urantiapedia-book-apocrypha svg g rect:first-child {
  fill:#42ca7d;
}
.urantiapedia-book-apocrypha svg g rect:nth-child(2) {
  fill:#2a4a16;
}
/* Readers books */
.urantiapedia-book-readers svg g {
  fill:#223355;
}
.urantiapedia-book-readers svg g rect:first-child {
  fill:#223355;
}
.urantiapedia-book-readers svg g rect:nth-child(2) {
  fill:#eeddcc;
}
/* Study aids */
.urantiapedia-book-studyaid svg g {
  fill:#fff;
}
.urantiapedia-book-studyaid svg g rect:first-child {
  fill:#4999D2;
}
.urantiapedia-book-studyaid svg g rect:nth-child(2) {
  fill:#0e66a1;
}
/* Bahaism books */
.urantiapedia-book-bahai svg g {
  fill:#1a3155;
}
.urantiapedia-book-bahai svg g rect:first-child {
  fill:#1a3155;
}
.urantiapedia-book-bahai svg g rect:nth-child(2) {
  fill:#eed6bd;
}
/* Buddhism books */
.urantiapedia-book-buddha svg g {
  fill:#471909;
}
.urantiapedia-book-buddha svg g rect:first-child {
  fill:#471909;
}
.urantiapedia-book-buddha svg g rect:nth-child(2) {
  fill:#f5c586;
}
/* Christian books */
.urantiapedia-book-christian svg g {
  fill:#19737e;
}
.urantiapedia-book-christian svg g rect:first-child {
  fill:#19737e;
}
.urantiapedia-book-christian svg g rect:nth-child(2) {
  fill:#d0c6bd;
}
/* Hinduism books */
.urantiapedia-book-hindu svg g {
  fill:#6a2015;
}
.urantiapedia-book-hindu svg g rect:first-child {
  fill:#6a2015;
}
.urantiapedia-book-hindu svg g rect:nth-child(2) {
  fill:#fe9663;
}
/* Islam books */
.urantiapedia-book-islam svg g {
  fill:#781915;
}
.urantiapedia-book-islam svg g rect:first-child {
  fill:#781915;
}
.urantiapedia-book-islam svg g rect:nth-child(2) {
  fill:#adc9b2;
}
/* Jainism books */
.urantiapedia-book-jain svg g {
  fill:#7a5542;
}
.urantiapedia-book-jain svg g rect:first-child {
  fill:#7a5542;
}
.urantiapedia-book-jain svg g rect:nth-child(2) {
  fill:#ffc683;
}
/* Judaism books */
.urantiapedia-book-judean svg g {
  fill:#932322;
}
.urantiapedia-book-judean svg g rect:first-child {
  fill:#932322;
}
.urantiapedia-book-judean svg g rect:nth-child(2) {
  fill:#bababa;
}
/* Shikhism books */
.urantiapedia-book-shikh svg g {
  fill:#60357a;
}
.urantiapedia-book-shikh svg g rect:first-child {
  fill:#60357a;
}
.urantiapedia-book-shikh svg g rect:nth-child(2) {
  fill:#d3884f;
}
/* Shintoism books */
.urantiapedia-book-shinto svg g {
  fill:#000;
}
.urantiapedia-book-shinto svg g rect:first-child {
  fill:#d50500;
}
.urantiapedia-book-shinto svg g rect:nth-child(2) {
  fill:#f0ebe8;
  stroke: #000;
}
/* Taoism books */
.urantiapedia-book-tao svg g {
  fill:#38373d;
}
.urantiapedia-book-tao svg g rect:first-child {
  fill:#38373d;
}
.urantiapedia-book-tao svg g rect:nth-child(2) {
  fill:#b1bfc2;
}
/* Zoroastrianism books */
.urantiapedia-book-zoroaster svg g {
  fill:#371c00;
}
.urantiapedia-book-zoroaster svg g rect:first-child {
  fill:#bc8e53;
}
.urantiapedia-book-zoroaster svg g rect:nth-child(2) {
  fill:#9dbfae;
}
@media (max-width:500px) {
  figure.image-style-align-right,
  figure.image-style-align-left {
    float: none
  }
  div.urantiapedia-book-front svg {
    width: 100%;
    height: auto;
  }
}