/* CSS code to inject after system default CSS in Wiki.js. 
Consider using custom themes if you have a large amount of css code. 
Injecting too much CSS code will result in poor page load performance! 
CSS will automatically be minified. */

.v-main .contents {
    max-width: 1000px
}
.v-main .contents figure.urantiapedia {
    display: table;
}
.v-main .contents figure.urantiapedia.image-style-align-right {
    margin: 10px 0 10px 10px;
}
.v-main .contents figure.urantiapedia.image-style-align-left {
    margin: 10px 10px 10px 0;
}
.v-main .contents figure.urantiapedia figcaption {
    font-size: 14px;
    display: table-caption;
    caption-side: bottom;
}
.v-list--dense .v-list-item.v-list-item--link {
    min-height: 30px;
}
.v-list-item--link .v-list-item__subtitle, .v-list-item--link .v-list-item__title {
    overflow: auto;
    text-overflow: initial;
    white-space: inherit;
}
.v-main .contents figure.chapter-navigator table {
    border-bottom: 0.2em solid #c8ccd1;
    border-left: 1px solid #c8ccd1;
    border-right: 1px solid #c8ccd1;
    border-top: 1px solid #c8ccd1;
    table-layout: fixed; 
    width: 100%;
}
.v-main .contents figure.chapter-navigator table tbody tr td {
    padding: 0.4em 0.5em;
    border: 1px solid #c8ccd1;
    width:33%;
}
.v-main .contents figure.chapter-navigator table tbody tr td:nth-child(2) {
    text-align: center;
}
.v-main .contents figure.chapter-navigator table tbody tr td:nth-child(3) {
    text-align: right;
}
@media (max-width:1000px) {
    .v-main .contents figure.image-style-align-right,
    .v-main .contents figure.image-style-align-left {
      float: none
    }
}
