/* CSS code to inject after system default CSS in Wiki.js. 
Consider using custom themes if you have a large amount of css code. 
Injecting too much CSS code will result in poor page load performance! 
CSS will automatically be minified. */

.v-main .contents:not(.urantiapedia-full-width) {
    max-width: 1000px;
}
.v-main .contents table {
    margin: .5rem 0rem;
}
.v-main .contents .urantiapedia-table-wrapper {
    overflow-x: scroll;
}
.v-main .contents .emoji {
    max-width: inherit;
}
.v-main .contents img.is-imagemap {
    max-width: none;
  }
.v-main .contents figure.urantiapedia {
    display: table;
}
.v-main .contents figure.urantiapedia.image-style-align-right {
    margin: 10px 0 10px 10px;
}
.v-main .contents figure.urantiapedia.image-style-align-left {
    margin: 10px 10px 10px 0;
}
.v-main .contents figure.urantiapedia figcaption {
    font-size: 14px;
    display: table-caption;
    caption-side: bottom;
}
.v-list--dense .v-list-item.v-list-item--link {
    min-height: 30px;
}
.v-list-item--link .v-list-item__subtitle, 
.v-list-item--link .v-list-item__title {
    overflow: auto;
    text-overflow: initial;
    white-space: inherit;
}
.v-main .contents figure.chapter-navigator table {
    /* border-bottom: 0.2em solid #c8ccd1;
    border-left: 1px solid #c8ccd1;
    border-right: 1px solid #c8ccd1;
    border-top: 1px solid #c8ccd1; */
    table-layout: fixed; 
    width: 100%;
}
.v-main .contents figure.chapter-navigator table tbody tr td {
    padding: 0.4em 0.5em;
    border: none;
    width:33%;
}
.v-main .contents figure.chapter-navigator table tbody tr td:nth-child(2) {
    text-align: center;
}
.v-main .contents figure.chapter-navigator table tbody tr td:nth-child(3) {
    text-align: right;
}
.v-main .contents pre.prismjs.language-wrap {
    word-wrap: break-word;
    white-space: normal;
}
.v-main .contents blockquote.is-map {
    display: flex;
}
.v-main .contents blockquote.is-map:before {
    content: "\F034D"
}
.v-main .contents blockquote.is-map a {
    color: #fff;
    text-decoration: none;
}
.v-main .contents blockquote.is-map img {
    width: 400px;
    padding-top: 16px
}
.v-main .contents .responsive-embed {
    position: relative;
    padding-bottom: 56.2%;
    height: 0;
    margin: 10px 0;
    overflow: hidden;
}
.v-main .contents .responsive-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.v-main .contents .v-card.urantiapedia-card {
    width: 400px;
}
.v-main .contents .v-card.urantiapedia-card.urantiapedia-book {
    width: 205px;
}
.v-main .contents .v-card .v-responsive.urantiapedia-card {
    height: 200px;
    color: #FFFFFF !important;
    --v-theme-overlay-multiplier: 3;
    z-index: 0;
}
.v-main .contents .v-card .v-responsive.urantiapedia-card.urantiapedia-book {
    height: 274px;
}
.v-main .contents .v-card .urantiapedia-card-top-image {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.v-main .contents .v-card .urantiapedia-card-title {
    display: block;
    flex: none;
    font-size: 1.25rem;
    font-weight: 500;
    hyphens: auto;
    letter-spacing: 0.0125em;
    min-width: 0;
    overflow-wrap: normal;
    overflow: hidden;
    padding: 0.5rem 1rem;
    text-overflow: ellipsis;
    text-transform: none;
    word-break: normal;
    word-wrap: break-word;
    line-height: 2rem;
}
.v-main .contents .v-card .urantiapedia-card-title.urantiapedia-book {
    font-size: 1rem;
    line-height: 1.2rem;
}
.v-main .contents .v-card .urantiapedia-card-subtitle {
    display: block;
    flex: none;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.0178571429em;
    opacity: var(--v-medium-emphasis-opacity);
    overflow: hidden;
    padding: 0 1rem;
    text-overflow: ellipsis;
    text-transform: none;
    line-height: 1.25rem;
}
.v-main .contents .v-card .urantiapedia-card-subtitle.urantiapedia-book {
    font-size: 0.75rem;
    line-height: 1rem;
}
.v-main .contents .v-card .urantiapedia-card-text {
    flex: 1 1 auto;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.0178571429em;
    padding: 1rem;
    text-transform: none;
}
.v-main .contents .v-card .urantiapedia-card-actions {
    align-items: center;
    display: flex;
    flex: none;
    min-height: 52px;
    padding: 1rem;
}
.v-main .contents .urantiapedia-book-front {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.v-main .contents .urantiapedia-book-front svg g {
    line-height:1.25;
    text-align:center;
    text-anchor:middle;
}
/* Science books */
.v-main .contents .urantiapedia-book-science svg g {
    fill:#301602;
}
.v-main .contents .urantiapedia-book-science svg g rect:first-child {
    fill:#301602;
}
.v-main .contents .urantiapedia-book-science svg g rect:nth-child(2) {
    fill:#F9F1D2;
}
/* Bible books */
.v-main .contents .urantiapedia-book-bible svg g {
    fill:#fff;
}
.v-main .contents .urantiapedia-book-bible svg g rect:first-child {
    fill:#e06464;
}
.v-main .contents .urantiapedia-book-bible svg g rect:nth-child(2) {
    fill:#690404;
}
/* Bible apocrypha books */
.v-main .contents .urantiapedia-book-apocrypha svg g {
    fill:#fff;
}
.v-main .contents .urantiapedia-book-apocrypha svg g rect:first-child {
    fill:#42ca7d;
}
.v-main .contents .urantiapedia-book-apocrypha svg g rect:nth-child(2) {
    fill:#2a4a16;
}
/* Readers books */
.v-main .contents .urantiapedia-book-readers svg g {
    fill:#223355;
}
.v-main .contents .urantiapedia-book-readers svg g rect:first-child {
    fill:#223355;
}
.v-main .contents .urantiapedia-book-readers svg g rect:nth-child(2) {
    fill:#eeddcc;
}
/* Study aids */
.v-main .contents .urantiapedia-book-studyaid svg g {
    fill:#fff;
}
.v-main .contents .urantiapedia-book-studyaid svg g rect:first-child {
    fill:#4999D2;
}
.v-main .contents .urantiapedia-book-studyaid svg g rect:nth-child(2) {
    fill:#0e66a1;
}
/* Bahaism books */
.v-main .contents .urantiapedia-book-bahai svg g {
    fill:#1a3155;
}
.v-main .contents .urantiapedia-book-bahai svg g rect:first-child {
    fill:#1a3155;
}
.v-main .contents .urantiapedia-book-bahai svg g rect:nth-child(2) {
    fill:#eed6bd;
}
/* Buddhism books */
.v-main .contents .urantiapedia-book-buddha svg g {
    fill:#471909;
}
.v-main .contents .urantiapedia-book-buddha svg g rect:first-child {
    fill:#471909;
}
.v-main .contents .urantiapedia-book-buddha svg g rect:nth-child(2) {
    fill:#f5c586;
}
/* Christian books */
.v-main .contents .urantiapedia-book-christian svg g {
    fill:#19737e;
}
.v-main .contents .urantiapedia-book-christian svg g rect:first-child {
    fill:#19737e;
}
.v-main .contents .urantiapedia-book-christian svg g rect:nth-child(2) {
    fill:#d0c6bd;
}
/* Hinduism books */
.v-main .contents .urantiapedia-book-hindu svg g {
    fill:#6a2015;
}
.v-main .contents .urantiapedia-book-hindu svg g rect:first-child {
    fill:#6a2015;
}
.v-main .contents .urantiapedia-book-hindu svg g rect:nth-child(2) {
    fill:#fe9663;
}
/* Islam books */
.v-main .contents .urantiapedia-book-islam svg g {
    fill:#781915;
}
.v-main .contents .urantiapedia-book-islam svg g rect:first-child {
    fill:#781915;
}
.v-main .contents .urantiapedia-book-islam svg g rect:nth-child(2) {
    fill:#adc9b2;
}
/* Jainism books */
.v-main .contents .urantiapedia-book-jain svg g {
    fill:#7a5542;
}
.v-main .contents .urantiapedia-book-jain svg g rect:first-child {
    fill:#7a5542;
}
.v-main .contents .urantiapedia-book-jain svg g rect:nth-child(2) {
    fill:#ffc683;
}
/* Judaism books */
.v-main .contents .urantiapedia-book-judean svg g {
    fill:#932322;
}
.v-main .contents .urantiapedia-book-judean svg g rect:first-child {
    fill:#932322;
}
.v-main .contents .urantiapedia-book-judean svg g rect:nth-child(2) {
    fill:#bababa;
}
/* Shikhism books */
.v-main .contents .urantiapedia-book-shikh svg g {
    fill:#60357a;
}
.v-main .contents .urantiapedia-book-shikh svg g rect:first-child {
    fill:#60357a;
}
.v-main .contents .urantiapedia-book-shikh svg g rect:nth-child(2) {
    fill:#d3884f;
}
/* Shintoism books */
.v-main .contents .urantiapedia-book-shinto svg g {
    fill:#000;
}
.v-main .contents .urantiapedia-book-shinto svg g rect:first-child {
    fill:#d50500;
}
.v-main .contents .urantiapedia-book-shinto svg g rect:nth-child(2) {
    fill:#f0ebe8;
    stroke: #000;
}
/* Taoism books */
.v-main .contents .urantiapedia-book-tao svg g {
    fill:#38373d;
}
.v-main .contents .urantiapedia-book-tao svg g rect:first-child {
    fill:#38373d;
}
.v-main .contents .urantiapedia-book-tao svg g rect:nth-child(2) {
    fill:#b1bfc2;
}
/* Zoroastrianism books */
.v-main .contents .urantiapedia-book-zoroaster svg g {
    fill:#371c00;
}
.v-main .contents .urantiapedia-book-zoroaster svg g rect:first-child {
    fill:#bc8e53;
}
.v-main .contents .urantiapedia-book-zoroaster svg g rect:nth-child(2) {
    fill:#9dbfae;
}
@media (max-width:1000px) {
    .v-main .contents figure.image-style-align-right,
    .v-main .contents figure.image-style-align-left {
      float: none
    }
    .v-main div.urantiapedia-book-front svg {
        width: 100%;
        height: auto;
    }
}
