html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html, body, form {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    position: absolute;
}