.center { text-align: center;  text-indent: 0em; }
.right { text-align: right; }
.caption { font-weight: bold; }
.noindent { text-indent: 0em; }
.smallcaps { font-variant: small-caps; }
.small { font-size: small; }
.large { font-size: large; }
.note { font-size: small; text-indent: 0em; }
.chapter_heading { text-align: center; text-indent: 0em; margin-top: 20pt; margin-bottom: 20pt; }
.toc_heading { text-align: center; margin-top: 20pt; margin-bottom: 20pt; }
.p_normal { text-indent: 10mm; margin-top: 5pt; margin-bottom: 5pt;}
.p_first { text-indent: 0mm; margin-top: 5pt; margin-bottom: 5pt;}
.p_toc { text-indent: 10mm; margin-top: 10pt; margin-bottom: 10pt;}
